.navbar {
  position: relative;
  width: 100%;
  height: 20%;
}
.searchbar {
  position: absolute;
  // left: 20%;

  top: 10%;
  margin: auto;
  width: 100%;
}
.info {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 20%;
  text-align: center;
}
.map {
  width: 100%;
  height: 35%;
  top: 30%;
  background-color: rgb(160, 52, 70);
  background-repeat: no-repeat;
}
.info-head {
  margin-top: 2px;
}
